@import '/src/theme.scss';

#title-container {
    width: 100%;
    height: 10rem;
    background-color: $secondary-1;
    position: relative;

    #name-container {
      position: relative;
      background-color: $primary-1;
      height: 80%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      #confetti-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        .confetti {
          position: absolute;
          animation-name: drop;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          z-index: 1;
        }
    }
        #title-name {
            font: 400 3rem "Vibur";
            text-align: left;
            margin-right: 4rem;
            color: $primary-3;
            text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em $accent-1, 0 0 0.5em $accent-1, 0 0 0.1em $accent-1, 0 10px 3px #000;
            span{
              animation: blink linear infinite 2s;
              &:nth-of-type(2){
                animation: blink linear infinite 3s;
              }
            }
          }
    }

    #profession-container {
      background-color: $primary-3;
      position: relative;
      height: 20%;
      width: 100%;
      display: flex;
      align-items: center;
      #profile-image {
        height: 500%;
        position: absolute;
        bottom: -128%;
        right: -1.8rem;
        z-index: 10;
    }
      #title-profession {
        font: 900 3.6vw "Glacial";
        width: 100%;
        text-align: left;
        margin-left: 7vw;
        text-transform: uppercase;
        color: $primary-1;
        letter-spacing: .7rem;
      } 
    }
    @media (max-width: 340px) {
      height: 7rem;
      #name-container {
        #title-name {
          font: 400 2.2rem "Vibur";
          text-align: left;
          margin-left: 1rem;
          width: 100%;
          left: 0;
        }
      }
      #profession-container {
        #profile-image {
          right: -7vw;
        }
        #title-profession {
          letter-spacing: .5rem;
        }
      }
    }
    @media (min-width: 450px) {
      #name-container {
        #title-name {
          font: 400 13vw "Vibur";
          text-align: center;
          width: 100%;
          left: 0;
        }
      }
      #profession-container {
        #profile-image {
          right: -4vw;
        }
        #title-profession {
          text-align: center;
          margin-left: 0;
          font: 900 3vw "Glacial";
        }
      }
    }
    @media (min-width: 550px) {
      #name-container {
        #title-name {
          font: 400 4rem "Vibur";
          text-align: center;
          width: 100%;
          left: 0;
        }
      }
      #profession-container {
        #profile-image {
          right: -1rem;
          height: 600%;
          bottom: -150%;
        }
        #title-profession {
          text-align: center;
          margin-left: 0;
          font: 900 0.8rem "Glacial";
          letter-spacing: 1rem;
        }
      }
    }
    @media (min-width: 768px) {
      height: 12rem;
      #name-container {
        #title-name {
          font: 400 10vw "Vibur";
          text-align: center;
        }
      }
      #profession-container {
        #profile-image {
          right: -2rem;
          height: 600%;
          bottom: -152%;
        }
        #title-profession {
          font: 900 1rem "Glacial";
          letter-spacing: 1rem;
        }
      }
    }
    @media (min-width: 1200px) {
      height: 15rem;
      #name-container {
        #title-name {
          font: 400 9rem "Vibur";
          text-align: center;
        }
      }
      #profession-container {
        #profile-image {
          right: -7rem;
          height: 600%;
          bottom: -152%;
        }
      }
    }
}

@keyframes drop {
    0% {
        transform: translateY(-100%) rotate(0deg);
    }
    100% {
        transform: translateY(30vh) rotate(359deg);
    }
}

@keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
      color: $primary-1;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: $primary-1;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: $primary-1;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }