@import '/src/theme.scss';

#title-container {
    width: 100%;
    height: 20vh;
    background-color: $secondary-1;
    position: relative;
    z-index: -2;

    #name-container {
      position: relative;
      background-color: $primary-1;
      height: 80%;
      width: 100%;
      #confetti-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        .confetti {
          position: absolute;
          animation-name: drop;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          z-index: 1;
        }
    }
        #title-name {
            font: 400 15vw "Vibur";
            text-align: left;
            position: absolute;
            margin: 0 auto;
            top: .5rem;
            left: 2rem;
            color: $primary-3;
            text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em $accent-1, 0 0 0.5em $accent-1, 0 0 0.1em $accent-1, 0 10px 3px #000;
            span{
              animation: blink linear infinite 2s;
              &:nth-of-type(2){
                animation: blink linear infinite 3s;
              }
            }
          }
    }

    #profession-container {
      background-color: $primary-3;
      position: relative;
      height: 20%;
      width: 100%;
      display: flex;
      align-items: center;
      #profile-image {
        height: 500%;
        position: absolute;
        bottom: -128%;
        right: -2rem;
        z-index: 2;
        @media (min-width: 1100px) {
          right: -7rem;
        }
    }
      #title-profession {
        font: 900 3.6vw "Glacial";
        width: 100%;
        text-align: left;
        margin-left: 10vw;
        text-transform: uppercase;
        color: $primary-1;
        letter-spacing: .7rem;
        z-index: 10;
      } 
    }
}

@keyframes drop {
    0% {
        transform: translateY(-100%) rotate(0deg);
    }
    100% {
        transform: translateY(30vh) rotate(359deg);
    }
}

@keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
      color: $primary-1;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: $primary-1;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: $primary-1;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }