$primary-1: #343434;
$primary-2: #B75D69;
$primary-3: #EFD9CE;
$secondary-1: #90BE6D;
$accent-1: #DA3E52;
$accent-2: #F46036;

@font-face {
    font-family: Glacial;
    src: url("./fonts/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
    font-family: Glacial;
    font-weight: bold;
    src: url("./fonts/GlacialIndifference-Bold.otf") format("opentype");
}

@font-face {
    font-family: Glacial;
    font-style: italic;
    src: url("./fonts/GlacialIndifference-Italic.otf") format("opentype");
}

@font-face {
    font-family: 'Vibur';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/vibur/v13/DPEiYwmEzw0QRgTuJDsrdPXb.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

:export {
    primary1: #343434;
    primary2: $primary-2;
    primary3: $primary-3;
    secondary1: $secondary-1;
    accent1: $accent-1;
    accent2: $accent-2;
  }